.sidebar {
    height: 85vh;
    overflow: scroll;
    width: 25%;
    background-color: rgb(31, 37, 53);
    color: rgb(184, 189, 231);
}

.header {
    padding: 0 20px;
    margin-bottom: 30px;
}

.title-side {
    height: 40px;
}

.my-rooms {
    margin-left: 20px;
    font-size: 25px;
    line-height: 25px;
}

.add-room-button {
    font-size: 25px;
    float: right;
    padding: 2px;
    color: rgb(184, 189, 231);
    border: 2px solid rgb(184, 189, 231);
    border-radius: 100px;
    height: 20px;
    width: 20px;
    padding: 0;
    line-height: 18px;
    text-align: center;
    margin-right: 20px;
}

.add-room-button:hover {
    cursor: pointer;
    color: rgba(184, 189, 231, .7);
    border: 2px solid rgba(184, 189, 231, .7);
}

.view-all-rooms {
    width: 90px;
    font-size: 14px;
    margin: 0 20px 20px 0;
    float: right;
    text-align: right;
}

.view-all-rooms:hover {
    color: rgba(184, 189, 231, .7);
    cursor: pointer;
}

.side-rooms-container {
    margin-top: 30px;
}