.main {
    height: 500px;
    width: 75%;
    background-color: lightgreen;
} 

.post {
    background-color: rgb(230, 230, 230);
}

.hide-show {
    color: blue;
    text-decoration: underline;
}

.hide-show:hover {
    cursor: pointer;
}

.full-view {
    width: 100%;
}

.partial-view {
    width: 60%;
    display: inline-block;
}

.listed-room {
    width: 40%;
    height: 500px;
    display: inline-block;
}