.main {
    height: 85vh;
    width: 75%;
    background-color: rgb(31, 37, 53);
    display: flex;
    color: rgb(184, 189, 231);
    border-left: 1px solid rgb(49, 58, 83);
} 

.full-view {
    width: 100%;
}

.partial-view {
    width: 70%;
}

.display-container {
    display: flex;
    flex-direction: column;
}

.main-header-container {
    min-height: 100px;
    background-color: rgb(31, 37, 53);
    color: white;
    width: 100% - 30px;
    padding: 0 0 10px 20px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(49, 58, 83);
}

.main-header-title {
    margin: 10px 0;
    font-size: 35px;
}

.fixed {
    display: none;
}

.not-fixed {
    float: right;
    margin-right: 20px;
    font-size: 15px;
}

.not-fixed:hover {
    cursor: pointer;
    color: rgba(184, 189, 231, .7);
}

.main-header-desc {
    margin: 10px 0;
    font-size: 18px;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
}

.post-container {
    background-color: rgb(31, 37, 53);
    padding: 1px 0;
}

.post-container:hover {
    background-color: rgb(49, 58, 83);
}

.post-username {
    text-transform: capitalize;
    margin: 10px 0 0 20px;
    font-size: 15px;
    font-style: italic;
}

.post-message {
    margin: 5px 0 5px 20px;
    font-size: 15px;
}

.comments-container {
    overflow-x: hidden;
    margin: 0 0 15px 20px; 
    padding-left: 20px;
    border-left: 1px solid rgb(184, 189, 231);
}

.comment-single {
    margin: 10px 0 0 0;
    font-size: 15px;
}

.show {
    margin: 10px 0 15px 20px;
    font-size: 12px;
    width: 120px;
    text-decoration: underline;
}

.show:hover {
    cursor: pointer;
    color: rgb(129, 180, 214)
}

.hide {
    font-size: 12px;
    text-decoration: underline;
    display: inline;
    margin-left: 20px;
}

.hide:hover {
    cursor: pointer;
    color: rgb(129, 180, 214);
}

/* .com-button-container {
    text-align: right;
    width: 90%;
} */

.send-button {
    background-color: rgb(49, 58, 83);
    border: 1px solid rgb(184, 189, 231);
    color: white;
    width: 80px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.send-button:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, .8);
}

.send-button:focus {
    outline: 0;
    background-color: rgba(50, 50, 50, .5);
    color: rgba(255, 255, 255, .5);
}

.comment-textbox {
    margin: 20px 0 5px 0;
    width: 90%;
    height: 50px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(49, 58, 83);
    color: rgb(184, 189, 231);
    border: 1px solid rgb(184, 189, 231);
    resize: none;
}

.comment-textbox:focus {
    outline: 2px solid rgba(50, 50, 50, .5);
}

.post-form {
    background-color: rgb(31, 37, 53);
    border-top: 1px solid rgb(49, 58, 83);
}

.post-textbox {
    margin: 10px auto 5px 20px;
    width: 90%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(49, 58, 83);
    resize: none;
    color: rgb(184, 189, 231);
    line-height: 18px;
    border: 1px solid rgb(184, 189, 231);
}

.post-textbox:focus {
    outline: 2px solid rgba(50, 50, 50, .5);
}

.post-button {
    margin: 0 0 10px 20px;
    background-color: rgb(49, 58, 83);
    color: white;
    width: 80px;
    border-radius: 5px;
    border: 1px solid rgb(184, 189, 231);
}

.post-button:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, .8);
}

.post-button:focus {
    outline: 0;
    background-color: rgba(50, 50, 50, .5);
    color: rgba(255, 255, 255, .5);
}

/*      List        */

.listed-rooms-container {
    width: 30%;
    height: 100%;
    background-color: rgb(31, 37, 53);
    color: rgb(184, 189, 231);
    border-right: 1px solid rgb(49, 58, 83);
}

.title-list {
    font-size: 25px;
    line-height: 10vh;
    height: 10vh;
    text-align: center;
}

.listed-room {
    overflow: scroll;
    height: 75vh;
}

.list-single-container {
    text-transform: capitalize;
    margin: auto;
    padding: 10px 0 10px 20px;
}

.list-bar:hover {
    cursor: pointer;
    background-color: rgb(49, 58, 83);
}

/*      Default View        */

.default-greeting {
    height: 100%;
    text-align: center;
}

.greeting-title {
    margin-top: 20vh;
}

.greeting-desc {
    margin-top: 20vh;
}