.hidden {
    display: none;
}

.show {
    display: block;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    overflow: auto;
    margin: auto;
}

.modal-textbox {
    background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 50px auto;
	box-shadow: 0 2p rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: 'Arial'
}