.hide-modal {
    display: none;
}

.show-modal {
    display: block;
}

.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    overflow: auto;
    margin: auto;
    z-index: 100;
}

.modal-textbox {
    background-color: rgb(184, 189, 231);;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 50px auto;
	box-shadow: 0 2p rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: 'Arial'
}

.room-button {
    max-width: 500px;
    width: 500px;
    margin: auto;
    background-color: rgb(78, 78, 250);
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 25px;
    color: rgb(184, 189, 231);
}