.hide-modal {
    display: none;
}

.show-modal {
    display: block;
}

.close-modal-container {
    width: 100%;
    text-align: right;
}

.close-modal {
    color: rgb(184, 189, 231);
    font-size: 16px;
}

.close-modal:hover {
    cursor: pointer;
    color: white;
}

.modal-container {
    position: fixed;
    width: 90%;
    height: 85vh;
    background-color: rgba(0, 0, 0, .6);
    overflow: auto;
    margin: auto;
    z-index: 100;
}

.modal-textbox {
    background-color: rgb(39, 47, 85);
	height: 350px;
	width: 650px;
	border-radius: 10px;
	margin: 50px auto;
	padding: 20px;
	line-height: 120%;
	font-family: 'Arial'
}

.room-button {
    display: block;
    width: 300px;
    margin: auto;
    background-color: rgb(78, 78, 250);
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 25px;
    color: rgb(184, 189, 231);
}

.room-button:hover {
    cursor: pointer;
    background-color: rgb(78, 78, 250, .8);
    color: rgb(184, 189, 231, .8);
}

.room-button:focus {
    outline: 0;
    background-color: rgb(78, 78, 250, .5);
    color: rgb(184, 189, 231, .5);
}