.devsync-title {
    color: white;
    font-size: 40px;
    margin: 10px 0 0 0;
    text-decoration: underline;
}

.header-greeting {
    margin-top: 5px;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.logout {
    float: right;
}

.logout:hover {
    cursor: pointer;
    color: rgba(184, 189, 231, .7);
}